deploy:
  needs: build-and-push
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4
    - name: Set Kubernetes Context
      uses: azure/k8s-set-context@v3
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBE_CONFIG }}

    - name: Deploy with Helm
      run: |
        helm upgrade --install realworld ./realworld-chart \
          --set image.backend=rybsek/real-back:${{ github.sha }} \
          --set image.frontend=rybsek/real-front:${{ github.sha }}
